@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'poppins';
    src: url('../assets/Fonts/Poppins-Regular.ttf');
}

@font-face{
    font-family: 'circular';
    src: url('../assets/Fonts/CircularXX.otf')
}

@font-face {
    font-family: 'nunitoSans';
    src: url('../assets/Fonts/NunitoSans.ttf');
}

@font-face {
    font-family: 'quickSand';
    src: url('../assets/Fonts/QuickSand.ttf');
}


body {
    background-color: #EFF1FE;
  }