@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
  font-family: "poppins";
  src: url("../assets/Fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "nunitoSans";
  src: url("../assets/Fonts/NunitoSans.ttf");
}

@font-face {
  font-family: "quickSand";
  src: url("../assets/Fonts/QuickSand.ttf");
}

body {
  font-family: "poppins";
}


.lightfont{
  font-family: "nunitoSans" !important;
}

.custom-radius{
  border-radius: 0% 0% 50% 50% / 0% 0% 16% 16%;
}

/* Hide the up and down arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.sidebar_nav_link {
  @apply w-full flex items-center py-2.5 my-2 px-2 lg:px-4 rounded-md transition duration-200 hover:bg-[#7B61FF] text-[#696969] hover:text-white;
}

.sidebar_icon_size {
  @apply object-contain w-6 h-6;
}

.sidebar_text_style {
  @apply ml-4 font-serif text-xs font-medium xl:text-base;
}
.input_foucs_border {
  @apply border border-[#ded9fa] focus:outline-none p-2 focus:border-[#9189c4];
}

.dashboard_cap_gradient {
  background: rgb(112, 85, 244);
  background: linear-gradient(90deg, rgb(112, 85, 244) 0%, rgb(199, 189, 243) 100%);
}

.dashboard_cap_gradient2 {
  background: rgb(101,154,251);
background: linear-gradient(90deg, rgba(101,154,251,1) 0%, rgba(211,229,255,1) 100%);
}


.react-calendar{
  border: none !important;
  border-radius: 15px !important;
  padding: 1rem !important;  
}

abbr:where([title]){
  text-decoration: none !important;
}

.react-tabs__tab--selected{
  background: #7B61FF !important;
  border-radius: 10px !important;
  color: #fff !important;
  outline: none !important;
  outline-offset: none !important;
}

.button-default-color{
  background: #7B61FF !important;
  color: #fff !important;
}

.newTabCss .react-tabs__tab--selected{
  color: #7B61FF !important;
  background: transparent !important;
  border-bottom:2px solid #7B61FF;
  border-radius:0 !important;
  font-weight: 700 !important;
}
